@page "/"
@using BlazorGeolocation
@inject BlazorGeolocationService BlazorGeolocationService
@inject HttpClient HttpClient
@inject IConfiguration Configuration
@inject ILocalStorageService LocalStorageService

<PageTitle>Long Snabel</PageTitle>

<h1 style="color:pink;">Welcome to Long Snabel</h1>
<hr style="color:pink;height:3px;" />

<div class="row">
    <div class="col">
        <embed src="swagAppIcon.svg" style="max-height:80vh;display:inline-block;" />
    </div>
    <div class="col">
        <img src="Sucking_brains.png" height="400px" />
    </div>
</div>