@page "/"
@using BlazorGeolocation
@inject BlazorGeolocationService BlazorGeolocationService
@inject HttpClient HttpClient
@inject IConfiguration Configuration
@inject ILocalStorageService LocalStorageService

<PageTitle>Index</PageTitle>

<h1>Do you want to share your location? 😍</h1>
<button @onclick="ShareGeolocation" class="btn btn-success">Share 🚀</button>

@code {
    protected async Task ShareGeolocation()
    {
        var location = await BlazorGeolocationService.GetPositionAsync();
        var baseUrl = Configuration.GetValue<string>("ApiEndpoint");
        await HttpClient.AddAuthHeaderAsync(LocalStorageService);
        await HttpClient.PostAsJsonAsync(baseUrl + "/Location", location);
    }
}