<div class="loader-wrapper">
    <div class="loader">
        <div id="dot1" class="dot neobox"></div>
        <div id="dot2" class="dot neobox"></div>
        <div id="dot3" class="dot neobox"></div>
        <div id="dot4" class="dot neobox"></div>
    </div>
</div>